body{
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    background-color: darksalmon;
    height: 100px;
    padding: 5%;
    margin:0%;
}
.navigation{
    width: 100%;
}
ul{
    display: flex;
    list-style: none;
}
.nav-link{
    margin-left: 20%;
}
.container{
    background-color: aqua;
    width: 1366px;
}
.section{
    margin-top: 120px;
    margin-bottom: 120px;
}
.row{
    display: flex;
    justify-content: center;
}
.col4{
    width: 33.3%;
}
