header{
    display: flex;
    margin: 0%;
}
.nav{
    background-color: brown;
}
.header-ul{
    display: flex;
    background-color: blue;
    list-style: none;
}
.container{
    background-color: darkgreen;
    justify-content: space-between;
}
.leftpart{
    background-color: aquamarine;
}
.rightpart{
    background-color: blueviolet;
}
